@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-fg: #000000;
  --color-bg: #FFFFFF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
  font-family: var(--font-serif);
}

::selection {
  background-color: #000;
  color: #fff;
}